html {

    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden !important;

}

.body-container {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-section {
    padding-top: 100px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}

.book-count-section {
    height: 20px;
    padding-left: 13%;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.item-section {
    width: 19%;
    margin: 10px;
    display: flex;
    background: rgb(238, 235, 235);
    border: 1px solid #E2E2E2;
    flex-direction: column;
}

.item {
    height: 60%;
    margin: 10px;
    display: flex;
    background: rgb(238, 235, 235);
    border-radius: 3px;
    flex-direction: row;
    align-self: center;
}

.item img {
    width: 100%;
    height: 80%;    
}

.item-title {
    background-color: white;
    padding-left: 12px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-top: 6px;
}

.title2 {
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.title3 {
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    display: flex;
}

.title4 {
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-bottom: 6px;
}

.title-subsection1 {
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
}

.title-subsection2 {
    padding-left: 5px;
}

/* button styling in get notes */

.button-outer {
    padding-bottom: 10px;
}

.inner1 {
    background: #A03037 0% 0% no-repeat padding-box !important;
    opacity: 1;
    border: none;
    width: 89px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
}

.inner2 {
    width: 85px;
    border-style: solid;
    border: #a39f9f;
    padding-bottom: 3px;
    padding-top: 3px;
    border-style: solid;
    border-width: .1px;
    background-color: white;
}

.add-cart {
    display: none;
    padding-bottom: 10px;
}

.wishlist {
    display: none;
    padding-bottom: 10px;
}

.cart-button {
    background-color: blue;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.wishlist-button {
    border-style: solid;
    border: #a39f9f;
    border-style: solid;
    border-width: .1px;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* ---------bottom section----------- */

.bottom-section{
    bottom: 0;
    width: 100%;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bottom-section h1 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 150px;
}

.dashboard-section-cart-count {
    border-style: solid;
    border-radius: 25px;
    height: 25px;
    width: 2%;
    background-color: white;
    color: #A03037;
}

.cart-item-count-in-dashboard {
    padding-left: 2px;
}

.dashboard-book {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}

/* ----------------------media queries----------------------- */

@media only screen and (max-width: 400px) {
    .search {
        display: none;
    }

    .nav-icon1 img {
        padding-left: 2px !important;
    }

    .fa-user-o {
        padding-left: 142px !important;
    }

    .nav-icon4 {
        padding-left: 23px !important;
    }
    .nav-section-cart-count {
        left: 30px !important;
        width: 38% !important;
    }

    .main-section-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .item-section {
        width: 70%;
    }
    .user {
        padding-left: 144px !important;
    }

    .bottom-section h1 {
        padding-left: 2px !important;
    }
    .wishlist-button {
        padding-left: 92px;
        padding-right: 92px
    }
    .cart-button {
        padding-left: 80px;
        padding-right: 80px;
    }
    .button-outer {
        padding-bottom: 30px;
    }
    .item img {
        width: 9rem !important;
        height: 95%;
    }
    .inner1, .inner2 {
        width: 100px;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 600px) {
    .search {
        display: none;
    }
    .bottom-section h1 {
        padding-left: 1px;
    }
    .nav-icon1 img {
        padding-left: 2px !important;
    }

    .fa-user-o {
        padding-left: 170px !important;
    }

    .nav-icon4 {
        padding-left: 23px !important;
    }
    .nav-section-cart-count {
        left: 30px !important;
        width: 45% !important;
    }
    .item-section {
        width: 70%;
    }
    .main-section-container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .item img {
        width: 9rem !important;
        height: 95%;
    }
    .inner1, .inner2 {
        width: 130px;
    }
    .wishlist-button {
        padding-left: 96px;
        padding-right: 96px;    }
    .cart-button {
        padding-left: 80px;
        padding-right: 80px;
    }
    .user {
        padding-left: 170px !important;
    }
    .button-outer {
        padding-bottom: 30px;
    }
}

@media only screen and (min-device-width: 739px) and (max-device-width: 1100px) {
    .search {
        display: none;
    }
    .bg-light {
        height: 10% !important;
    }
    .bottom-section h1 {
        padding-left: 10px;
    }
    .nav-icon1 img {
        padding-left: 2px !important;
        height: 60% !important;
        padding-top: 12px !important;
    }
    .fa {
        font-size: 22px;
    }

    .fa-user-o {
        padding-left: 482px !important;
    }
    .nav-icon2 {
        font-size: 25px !important;
    }
    .nav-icon4 {
        padding-left: 43px !important;
        font-size: 20px;
    }
    .nav-section-cart-count {
        left: 50px !important;
    }
    .user {
        padding-left: 480px !important;
    }
    .item-section {
        width: 30%;
    }
    .main-section-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .book-count-section {
        padding-left: 3%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .item img {
        width: 7rem;
        height: 95%;
    }
    .dropdown-menu[data-bs-popper] {
        left: 62% !important;
        top: 75px !important;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 739px) {
    .search {
        display: none;
    }
    .item-section {
        width: 40%;
    }
    .item img {
        width: 7rem;
        height: 95%;
    }
    .fa-user-o {
        padding-left: 380px !important;
    }
    .nav-icon4 {
        padding-left: 20px !important;
    }
    .nav-section-cart-count {
        left: 27px !important;
        width: 45% !important;
    }
    .user {
        padding-left: 380px !important;
    }
    .main-section-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-icon1 img {
        padding-left: 20px !important;
    }
    .book-count-section {
        padding-left: 8%;
    }
}