html {

    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.body-container {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}

.bg-light {
    background: #A03037 0% 0% no-repeat padding-box !important;
    opacity: 1;
    height: 10% !important;
    position: fixed !important;
    width: 100%;
}

.form-control {
    height: 100%;
    display: flex;
}

.nav-icon1 img{
    padding-top: 14px;
    padding-left: 140px;
    height: 80%;
}

.nav-icon2 {
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding-left: 10px;
    padding-top: 11px;
}

.nav-icon4 {
    padding-top: 15px;
    padding-left: 320px;
}

.search {
    padding-top: 10px;
    padding-left: 45px;
    width: 500px;
    
}

.main-section {
    padding-top: 100px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}

.book-count-section {
    height: 20px;
    padding-left: 13%;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.item-section {
    width: 19%;
    margin: 10px;
    display: flex;
    background: rgb(238, 235, 235);
    border: 1px solid #E2E2E2;
    flex-direction: column;
}

.item {
    height: 60%;
    margin: 10px;
    display: flex;
    background: rgb(238, 235, 235);
    border-radius: 3px;
    flex-direction: row;
    align-self: center;
}

.item img {
    width: 100%;
    height: 80%;    
}

.item-title {
    background-color: white;
    padding-left: 12px;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-top: 6px;
}

.title2 {
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.title3 {
    font: normal normal bold 10px/13px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    display: flex;
}

.title4 {
    text-align: left;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-bottom: 6px;
}

.title-subsection1 {
    background: #388E3C 0% 0% no-repeat padding-box;
    border-radius: 1px;
    opacity: 1;
}

.title-subsection2 {
    padding-left: 5px;
}

/* button styling in get notes */

.button-outer {
    padding-bottom: 10px;
}

.inner1 {
    background: #A03037 0% 0% no-repeat padding-box !important;
    opacity: 1;
    border: none;
    width: 89px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
}

.inner2 {
    width: 85px;
    border-style: solid;
    border: #a39f9f;
    padding-bottom: 3px;
    padding-top: 3px;
    border-style: solid;
    border-width: .1px;
    background-color: white;
}

.add-cart {
    display: none;
    padding-bottom: 10px;
}

.wishlist {
    display: none;
    padding-bottom: 10px;
}

.cart-button {
    background-color: blue;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.wishlist-button {
    border-style: solid;
    border: #a39f9f;
    border-style: solid;
    border-width: .1px;
    background-color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/* ---------bottom section----------- */

.bottom-section{
    bottom: 0;
    width: 100%;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.bottom-section h1 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 150px;
}

.dashboard-section-cart-count {
    border-style: solid;
    border-radius: 25px;
    height: 25px;
    width: 2%;
    background-color: white;
    color: #A03037;
}

.cart-item-count-in-dashboard {
    padding-left: 2px;
}

.dashboard-book {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}

/* .user {
    padding-left: 200px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}

.cart-title-in-header {
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
} */

/* -----------media queries----------- */

@media only screen and (max-width: 770px) {
    .item-section {
        width: 21%;
    }

    .body-container {
        overflow-x: hidden !important;
    }

    .user {
        padding-left: 1px;
    }

    .search {
        padding-top: 10px;
        padding-left: 45px;
        width: 300px;        
    }

    .nav-icon1 img{
        padding-left: 1px !important;
    }

    .nav-icon1 {
        padding-left: 15px;
    }
    
    .nav-icon2 {
        padding-left: 1px !important;        
    }
    
    .nav-icon4 {
        padding-top: 15px;
        padding-left: 25px !important;
    }

    .nav-section-cart-count {
        left: 32px !important;
        width: 39% !important;
        padding-left: 2.5px !important;
    }
    
    .cart-item-count-in-dashboard {
        padding-left: 0px !important;
    }

    .main-section-container {
        
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;    
    }

    .inner1 {
        width: 70px;
        font-size: 9px !important;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .inner2 {
        width: 70px;
    }

    .cart-button {
        padding-left: 30px;
        padding-right: 30px;
    }

    .wishlist-button {
        padding-left: 43px;
        padding-right: 43px;
    }

    .fa-user-o {
        padding-left: 20px !important;
    }

    .book-count-section  {
        padding-left: 3%;
    }
    .dropdown-menu {
        min-width: 7rem;
    }

    .user {
        padding-left: 20px !important;
    }
}

@media only screen and (max-width: 748px) {  
    .book-count-section  {
        padding-left: 3% !important;
    }

    .inner1, .inner2 {
        width: 65px !important;
    }
}

@media only screen and (max-width: 741px) {
    .form-control {
        display: none !important;        
    }

    .search {
        display: none !important;
    }
    .nav-icon4 {
        padding-left: 400px;
    }
    
    .book-count-section  {
        padding-left: 12%;
    }

    .dropdown {
        padding-left: 410px;
    }
}

@media only screen and (max-width: 655px) {
    .item-section {
        width: 31%;        
    }   
    .dropdown {
        padding-left: 380px;
    } 
    .book-count-section  {
        padding-left: 12% !important;
    }
    .inner1, .inner2 {
        width: 69px !important;
    }
}

@media only screen and (max-width: 617px) {  
    .dropdown {
        padding-left: 340px;
    } 
}


@media only screen and (max-width: 586px) {  
    .dropdown {
        padding-left: 280px;
    } 
}

@media only screen and (max-width: 527px) {  
    .dropdown {
        padding-left: 190px !important;
    } 
}

@media only screen and (max-width: 487px) {  
    .book-count-section  {
        padding-left: 12%;
    }
}

@media only screen and (max-width: 479px) {  
    .item-section {
        width: 64% !important;
    }
    .inner1, .inner2 {
        width: 130px !important;
    }

    .wishlist-button {
        padding-left: 80px;
        padding-right: 80px;
    }

    .cart-button {
        padding-left: 70px;
        padding-right: 70px;
    } 
}

@media only screen and (max-width: 434px) {  
    .dropdown {
        padding-left: 140px !important;
    } 
    .inner1, .inner2 {
        width: 100px !important;
    }

}

@media only screen and (max-width: 384px) {  
    .dropdown {
        padding-left: 100px !important;
    } 
    .book-count-section  {
        padding-left: 17% !important;
    }
    .bottom-section h1 {
        padding-left: 0px !important;
    }
    .inner1, .inner2 {
        width: 70px !important;
    }
}

@media only screen and (max-width: 474px) {  
    .book-count-section  {
        padding-left: 24%;
    }

    .bottom-section h1 {
        padding-left: 70px;
    }
    .inner1, .inner2 {
        width: 110px !important;
    }
}

@media only screen and (max-width: 341px) {  
    .dropdown {
        padding-left: 50px !important;
    } 
    .book-count-section  {
        padding-left: 24%;
    }
}

@media only screen and (max-width: 371px) {  
    .inner1, .inner2 {
        width: 100px !important;
    }
}

@media only screen and (max-width: 365px) {  
    .cart-button {
        padding-left: 30px;
        padding-right: 30px;
    }

    .wishlist-button {
        padding-left: 43px;
        padding-right: 43px;
    }
}

@media only screen and (max-width: 342px) {  
    .inner1, .inner2 {
        width: 80px !important;
    }

}

@media only screen and (max-width: 290px) {  
    .dropdown {
        padding-left: 10px !important;
    } 
    .book-count-section  {
        padding-left: 24%;
    }
}

@media only screen and (max-width: 480px) {
    .item-section {
        width: 51%;        
    }      
    .book-count-section  {
        padding-left: 17% !important;
    }
}



