.bg-light {
    background: #A03037 0% 0% no-repeat padding-box !important;
    opacity: 1;
    height: 10% !important;
    position: absolute !important;
    width: 100%;
}

.form-control {
    height: 70%;
    display: flex;
}

.nav-icon1 img{
    padding-top: 17px;
    padding-left: 140px;
    height: 65%;
}

.nav-icon2 {
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding-left: 10px;
    padding-top: 11px;
    cursor: pointer;
}

.nav-icon4 {
    padding-top: 12px;
    padding-left: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.search {
    padding-top: 10px;
    padding-left: 45px;
    width: 500px;    
}

.fa-user-o {
    color: white !important;
    padding-top: 16px;
    padding-left: 200px;
    cursor: pointer;
} 

.nav-section-cart-count {
    top: 8px;
    left: 58px;
    position: absolute;
    width: 24%;
    height: 17px;
    border-radius: 25px;    
    background-color: white;
    color: #A03037;
    padding-left: 2px;
    font-size: 15px;
}

/* ------------dropdown section styling--------------- */

.dropdown-toggle {
    border: none !important;
    background-color: inherit !important;    
}

.dropdown-toggle:focus {
    border: none !important;
}

.btn {
    padding: 0px !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit !important;
  }

.dropdown-toggle::after {
    display: none;
} 

.dropdown-menu[data-bs-popper] {
    left: 32%;
    top: 50px;
}

.dropdown-item {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    background: hsl(0, 0%, 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 25px;
}

.logout-button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: Roboto;
    border-color: #A03037;
    color: #A03037;
    width: 80%;
}

.profile-button {
    padding-left: 6px;
}

.Hello-button, .user-name {
    font: normal normal medium 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
}

.user {
    padding-left: 200px;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}

.cart-title-in-header {
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}


  