.html {
    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.body-container {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
}

.main-section-container {
    /* display: flex; */
    flex-direction: row;
    /* height: 10%; */
}

.header-section {
    height: 90px;
}

.main-section {
    height: 510px;
}

/* .footer-section {
    
} */

.section1 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.subsection1 h1 {
    text-align: left;
    letter-spacing: 0px !important;
    color: #0A0102 !important;
    opacity: 1 !important; 
    font-size: 25px;
    font-family: lato;
    padding-top: 10px;
}

.subsection2 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.subsection3 {
    padding-top: 10px;
    padding-left: 160px;
}

.minus-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;

}

.count {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
}

.add-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.remove-section {
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 15px;
}

.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 600px;
}

.button-section {
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3371B5 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal medium Lato;
    font-size: 10px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

/* section 2 styling */

.section2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.section2 h2 {
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* section 3 styling */

.section3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.section3 h3{
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}