.html {
    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.body-container {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    
}

.header-section {
    height: 90px;
}

.main-section {
    padding-bottom: 445px;
}

/* .footer-section {
    
} */

.section1 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #e4e2e2; */
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.subsection1 h1 {
    text-align: left;
    letter-spacing: 0px !important;
    color: #0A0102 !important;
    opacity: 1 !important; 
    font-size: 20px;
    font-family: Roboto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 880px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    /* border-bottom: white; */
}

.subsection2 {
    display: flex;
    flex-direction: row;
    /* padding-bottom: 70px; */
}

.subsection3 {
    padding-top: 10px;
    padding-left: 160px;
}

.minus-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;

}

.count {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
}

.add-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.remove-section {
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 15px;
}

.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 600px;
}

.button-section {
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3371B5 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal medium Lato;
    font-size: 10px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

/* section 2 styling */

.section2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.section2 h2 {
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

/* section 3 styling */

.section3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    width: 60%;
    padding-left: 40px;
}

.section3 h3{
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.customer-details {
    display: none;
}

.wishlist-item-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border: 1px solid #e4e2e2;
    padding-left: 50px;
    padding-top: 50px;
    width: 880px;
    
}

.cart-item-title {
    padding-left: 50px;
    width: 30%;
}

.wishlist-delete-button-container {
    padding-left: 300px;
}

.wishlist-delete-button {
    border: none;
    background-color: inherit;
}

.wishlistToCart-button {
    border: none;
    font-family: roboto;
}

.cart-title {
    border: 1px solid #e4e2e2;
    padding-left: 50px;
}

/* ---------footer section----------- */

.bottom-section{
    bottom: 0;
    width: 100%;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    padding-bottom: 4px;
    opacity: 1;

}

.bottom-section h1 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 150px;
}

/* -----------media queries----------- */

@media only screen and (max-width: 770px) {
    .item-section {
        width: 21%;
    }

    .search {
        padding-top: 10px;
        padding-left: 45px;
        width: 300px;        
    }

    .nav-icon1 img{
        padding-left: 1px !important;
    }
    
    .nav-icon2 {
        padding-left: 1px !important;        
    }
    
    .nav-icon4 {
        padding-top: 15px;
        padding-left: 80px !important;
    }
    
    .cart-item-count-in-dashboard {
        padding-left: 0px !important;
    }

    .main-section-container {
        
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;    
    }

    .cart-title {
        width: 100% !important;
    }

    .section1 {
        margin-left: 0px;
        width: 85%;
    }

    .wishlist-item-section {
        width: 620px;
    }

    .fa-user-o {
        padding-left: 100px !important;
    }

    .wishlistToCart-button {
        width: 90px;
    }

    .wishlistToCart {
        padding-left: 20px;
    }

    .wishlist-delete-button-container {
        padding-left: 10px;
    }

    .wishlist-delete-button {
        padding-right: 70px;
    }

    .nav-section-cart-count {
        width: 3% !important;
    }
}

@media only screen and (max-width: 710px) {
    .fa-user-o {
        padding-left: 70px !important;
    }    
    .nav-icon4 {
        padding-left: 50px !important;
    }
}    

@media only screen and (max-width: 641px) {
    .wishlist-item-section {
        width: 100%;
    }

    .search {
        display: none;
    }
    .fa-user-o {
        padding-left: 270px !important;
    }    
    .nav-icon4 {
        padding-left: 50px !important;
    }
    .nav-section-cart-count {
        width: 5% !important;
    }
}    


@media only screen and (max-width: 601px) {
    .wishlist-item-section {
        width: 100%;
    }
    .nav-section-cart-count {
        width: 7% !important;
    }
}    

@media only screen and (max-width: 541px) {
    .wishlist-item-section {
        width: 100%;
    }
    .fa-user-o {
        padding-left: 200px !important;
    }    
    .nav-icon4 {
        padding-left: 50px !important;
    }

    .bottom-section h1 {
        padding-left: 10px;
    }
} 

@media only screen and (max-width: 472px) {
    .wishlist-item-section {
        width: 100%;
    }
    .fa-user-o {
        padding-left: 160px !important;
    }    
    .nav-icon4 {
        padding-left: 50px !important;
    }

    .wishlistToCart, .wishlist-delete-button {
        padding-top: 15px;
    }
} 

@media only screen and (max-width: 459px) {
    .wishlist-item-section {
        width: 100%;
    }
    .fa-user-o {
        padding-left: 160px !important;
    }    
    .nav-icon4 {
        padding-left: 50px !important;
    }
} 

@media only screen and (max-width: 412px) {
    .wishlist-item-section {
        width: 100%;
    }
    .fa-user-o {
        padding-left: 120px !important;
    }    
    .nav-icon4 {
        padding-left: 30px !important;
    }
} 