.html {
    height: 100%;
    width: 100%;
}
  
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.body-container {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-section-container {
    display: flex;
    flex-direction: column;
    
}

.header-section {
    height: 90px;
}

.main-section {
    padding-bottom: 445px;
}


.section1 {
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #e4e2e2; */
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.wishlist-header h1 {
    text-align: left;
    letter-spacing: 0px !important;
    color: #0A0102 !important;
    opacity: 1 !important; 
    font-size: 20px;
    font-family: Roboto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 880px;
    /* background: #F5F 5F5 0% 0% no-repeat padding-box; */
    /* border-bottom: white; */
}

.subsection2 {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 70px; */
}

.subsection3 {
    padding-top: 10px;
    padding-left: 160px;
}

.minus-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;

}

.count {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
}

.add-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.remove-section {
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 15px;
}

.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 600px;
}

.button-section {
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3371B5 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal medium Lato;
    font-size: 10px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}

/* section 2 styling */

.section2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    width: 60%;
    padding-left: 40px;
}

.section2 h2 {
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.wishlist-header {
    height: 45px;
    border-style: solid;
    border-color: rgb(230, 226, 226);
    width: 880px;
    border-width: 1px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-bottom: none;
}

/* section 3 styling */

.section3 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e4e2e2;
    border-radius: 1px;
    margin-left: 160px;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    width: 60%;
    padding-left: 40px;
}

.section3 h3{
    font: normal normal normal Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.customer-details {
    display: none;
}

.wishlist-item-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border: 1px solid #e4e2e2;
    padding-left: 50px;
    padding-top: 50px;
    width: 880px;
    
}

.cart-item-title {
    padding-left: 50px;
    width: 30%;
}

.wishlist-delete-button-container {
    padding-left: 300px;
}

.wishlist-delete-button {
    border: none;
    background-color: inherit;
}

.wishlistToCart-button {
    border: none;
    font-family: roboto;
}

.cart-title {
    /* border: 1px solid #e4e2e2; */
    padding-left: 50px;
}

/* ---------footer section----------- */

.bottom-section{
    bottom: 0;
    width: 100%;
    background: #2E1D1E 0% 0% no-repeat padding-box;
    padding-bottom: 4px;
    opacity: 1;
    /* position:absolute; */
}

.bottom-section h1 {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 150px;
    
}

/* -----------media queries----------- */

@media only screen and (max-width: 400px) {
    .search {
        display: none;
    }

    .nav-icon1 img {
        padding-left: 2px !important;
    }
    .fa-user-o {
        padding-left: 150px !important;
    }

    .nav-icon4 {
        padding-left: 18px !important;
    }
    .nav-section-cart-count {
        left: 28px !important;
        width: 45%;
        padding-left: 2px;
    }
    .wishlist-item-section {
        width:290px;
    }
    .section1 {
        margin-left: 0px;
        padding-top: 18px;
    }
    .wishlist-header {
        width: 290px;
    }

    .wishlist-delete-button-container {
        padding-left: 80px;
        padding-top: 20px;
    }
    .wishlistToCart {
        padding-top: 20px;
    }
    .bottom-section h1{
        padding-left: 10px;
    }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 760px) {
    .search {
        display: none;
    }

    .nav-icon1 img {
        padding-left: 2px !important;
    }
    .fa-user-o {
        padding-left: 200px !important;
    }

    .nav-icon4 {
        padding-left: 18px !important;
    }
    .nav-section-cart-count {
        left: 28px !important;
        width: 45%;
        padding-left: 2px;
    }
    .wishlist-item-section {
        width: 330px;
        padding-left: 15px;
    }
    .cart-item-title {
        padding-left: 25px;
    }
    .section1 {
        margin-left: 0px;
        padding-top: 20px;
    }
    .wishlist-header {
        width: 330px;
    }
    .wishlist-delete-button-container {
        padding-left: 8px;
        padding-top: 20px;
    }
    .wishlistToCart {
        padding-top: 20px;
        padding-left: 8px;
    }
    .bottom-section h1{
        padding-left: 12px !important;
    }
}  

@media only screen and (min-width: 760px) and (max-width: 1100px) {
    .search {
        display: none;
    }

    .nav-icon1 img {
        padding-left: 2px !important;
    }
    .fa-user-o {
        padding-left: 530px !important;
    }

    .nav-icon4 {
        padding-left: 30px !important;
    }
    .nav-section-cart-count {
        left: 38px !important;
        width: 40%;
        padding-left: 4px;
    }
    .wishlist-item-section {
        width: 690px;
    }
    .section1 {
        margin-left: 0px;
        padding-top: 20px;
    }
    .wishlist-header {
        width: 690px;
    }
    .wishlist-delete-button-container {
        padding-left: 150px;
    }
    .bottom-section h1 {
        padding-left: 160px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .search {
        display: none;
    }
    .section1 {
        padding-top: 80px;
    }
    .wishlist-header {
        width: 900px;
    }
    .wishlist-item-section {
        width: 900px;
    }
    .fa-user-o {
        padding-left: 730px !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
    .search {
        display: none;
    }
    .wishlist-header {
        width: 530px;
    }
    .wishlist-item-section {
        width: 530px;
    }
    .fa-user-o {
        padding-left: 370px !important;
    }
}  

@media only screen and (min-width: 850px) and (max-width: 950px) {
    .search {
        display: none;
    }
    .wishlist-header {
        width: 830px;
    }
    .wishlist-item-section {
        width: 830px;
    }
    .fa-user-o {
        padding-left: 630px !important;
    }
}  

@media only screen and (min-width: 423px) and (max-width: 594px) {
    .search {
        display: none;
    }
    .wishlist-header {
        width: 400px;
    }
    .wishlist-item-section {
        width: 400px;
    }
    .fa-user-o {
        padding-left: 230px !important;
    }
}  